__pycache__/
build/
*.egg-info/
*.so
*.mp4
*.pth

data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

*.pyc
.vscode
output*
build
gridencoder/gridencoder.egg-info
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots

data/*
!*.gitkeep